@media (max-width: 1052px) {
    header, .hero, .about, .skills, .projects, .contact {
        padding: 0 4vw;
    }
}

@media (max-width: 962px) {
    header {
        position: fixed;
        margin-top: -100px;
    }

    /* header.scrolled {
        position: fixed;
    } */

    .nav-button .menu-toggle {
        display: block;
    }

    .scroll-btn {
        display: none;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(20px);
        width: 300px;
        padding: 40px 0;
        border-radius: 20px 0 20px 20px;
        box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.2);
    }

    .nav-menu.show-menu {
        display: flex;
    }

    .nav-list {
        margin: 20px 0;
    }

    .nav-link {
        color: #000;
    }

    .hero {
        margin-top: 100px;
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .col-1 {
        order: 2;
    }

    .col-2 {
        order: 1;
        align-items: center;
        margin-top: 7px;
    }

    .about-content {
        padding-top: 20px;
        flex-direction: column;
        gap: 70px;
    }

    .about-content .col-1 {
        align-items: center;
    }

    .about-card-container {
        justify-content: center;
    }

    .skills {
        margin-top: 300px;
    }

    .tech-icons-container {
        grid-template-columns: 1fr 1fr;
    }

   
}

@media (max-width: 514px) {
    header, .hero, .about, .skills, .projects, .contact {
        padding: 6vw;
    }

    .about {
        margin-top: -100px;
    }

    .hire-me-btn {
        display: none;
    }

    .hero-work, .section-title, header .logo span {
        font-size: 32px;
    }

    .hero-img-container,.about-img {
        width: 270px;
        height: 275px;
    }

    .hero-img  {
        height: 275px;
    }

    .hero-description {
        width: inherit;
    }
    .skills {
        margin-top: 400px;
    }
}