* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: all .3s ease;
}

.navbar a:hover {
    color: #0ef;
}

.home {
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: black;
    display: flex;
    padding: 70px 10% 0;
    align-items: center;
}

.home-img {
    border-radius: 50%;
    width: 40%;
    height: 75%;
}

.home-content {
    color: white;
}

.home-links a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    margin: 30px 15px 30px 0;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid white;
}

.home-links a:hover {
    background-color: white;
    color: black;
}

.btn {
    background-color: white;
    color: black;
    border-radius: 12px;
    font-weight: 600;
    padding: 12px 24px;
    font-size: 16px;
}