
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* ===== COLOR VARIABLES ===== */
:root {
    --first-color: #6429EF;
    --second-color: #E7DBDB;
    --third-color: #FFFFFF;
    --black-color: #000000;
    --black-alt-color: #fff;
    --dark-blue: #372461;
    --bg-color: #FFFFFF;
    --nav-bg-color: #959595;
    --blur-element-color: #E7DBDB;
    --shadow-1: 0 0 20px 5px rgb(101, 41, 240, 0.5);
    --shadow-2: 0 0 20px 5px rgb(232, 219, 219);
}

body {
    background-color: var(--bg-color);
    font-family: "Fira Sans", sans-serif;
}

/* ===== DARK MODE COLOR VARIABLES ===== */
body.dark-mode {
    --black-color: #fff;
    --dark-blue: #6429EF;
    --bg-color: #222;
    --blur-element-color: #555;
    --black-alt-color: #3d3c3c;
}

.scroll-up {
    font-size: 24px;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #6429EF;
    cursor: pointer;
    z-index: 111;
}

/* ===== Blur Background ===== */
.wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    filter: blur(50px);
    z-index: 1;
}

.wrapper::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--blur-element-color);
    border-radius: 50%;
    z-index: 0;
}

.wrapper::after {
    content: '';
    position: absolute;
    top: 160px;
    right: 10vw;
    width: 100px;
    height: 100px;
    background-color: var(--blur-element-color);
    border-radius: 50%;
    z-index: 0;
}

.wrapper .circle-1 {
    position: absolute;
    bottom: 100px;
    width: 50px;
    height: 50px;
    background-color: var(--first-color);
    border-radius: 50%;
    z-index: 0;
    left: 60%;
}

/* ===== Header - Navigation Bar ===== */
header {
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    padding: 0 8vw;
    transition: height .3s;
}

header.scrolled {
    height: 70px; 
    background-color: var(--bg-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark-mode header.scrolled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Box shadow for dark mode */
}

.logo span {
    font-size: 35px;
    color: var(--black-color);
    font-weight: 700;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}

.nav-list {
    padding: 0 30px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: var(--black-color);
    font-size: 18px;
    transition: .3s;
}

.nav-link:hover {
    color: var(--first-color);
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background-color: var(--first-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    padding: 0 24px;
    height: 45px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity .3s;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: fit-content;
}

.btn:hover {
    opacity: 0.8;
}

.hire-me-btn {
    background-color: var(--second-color);
    color: #000;
}

.nav-button span {
    color: var(--black-color);
    cursor: pointer;
}

.nav-button .menu-toggle {
    font-size: 18px;
}

.nav-button .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
/* ===== Hero section ===== */
.text {
    color: var(--dark-blue);
    font-weight: 700;
}

.hero {
    position: relative;
    display: flex;
    padding: 0 8vw;
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.scroll-btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black-color);
}

.scroll-btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.hero-work {
    font-size: 50px;
    color: var(--black-color);
}

.hero-description {
    padding-block: 20px 30px;
    width: 500px;
    color: var(--black-color);
}

.download-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--first-color);
    color: var(--third-color);
}

.hero-social-icons {
    display: flex;
    gap: 20px;
    padding: 40px 10px;
}

.hero-social-icons i {
    font-size: 28px;
    color: var(--black-color);
    cursor: pointer;
    transition: color .3s;
}

.hero-social-icons i:hover {
    color: var(--first-color);
}

/* ====== Hero Image section ===== */
.col-2 {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.hero-img-container {
    width: 400px;
    height: 405px;
    background: var(--first-color);
    border-radius: 46% 54% 34% 66% / 54% 61% 39% 46%;
    overflow: hidden;
}

.hero-img {
    height: 405px;
}

/* ===== About ==== */
.about, .skills, .projects, .contact {
    padding: 70px 8vw;
    min-height: 100vh;
}

.section-title {
    color: var(--black-color);
    font-size: 50px;
    padding: 30px 0;
    text-align: center;
}

.about-content {
    display: flex;
    padding-top: 50px;
}

.about-card-container {
    display: flex;
    align-items: center;
    gap: 18px;
}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: var(--black-color);
    background-color: var(--black-alt-color);
    gap: 8px;
}

.about-card i {
    font-size: 24px;
    color: var(--first-color);
}

.about-description {
    padding-block: 20px 30px;
    text-align: justify;
    color: var(--black-color);
}

.about .col-1 {
    justify-content: flex-start;
}

.about .col-2 {
    align-items: center;
    justify-content: center;
}

.about-img {
    width: 400px;
    height: 405px;
    background: var(--first-color);
    border-radius: 30px;
}

.about-img img {
    width: 100%;
    height: 100%;
    transform: rotate(12deg);
    border-radius: 30px;
    transition: all .3s;
}

.about-img img:hover {
    transform: rotate(0deg);
}

/* ===== Skills ==== */
.skills {
    min-height: 100vh;
}

.skill-title {
    font-size: 32px;
    font-weight: 600;
    color: var(--black-color);
    padding-bottom: 24px;
}

.skills-content
{
    display: flex;
    gap: 48px;
}

.skills-content .col-1 {
    justify-content: flex-start;
}

.tech-icons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding-top: 30px;
}

.tech-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.tech-icon img {
    height: 50px;
    width: 50px;
}

.tech-icon h2 {
    font-weight: 500;
    font-size: 20px;
    color: var(--black-color);
}

.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	background-color: var(--black-alt-color);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}

.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: var(--first-color);
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: var(--first-color);
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	color: var(--black-color);
}
.box p{
	line-height: 1.2;
	color: var(--black-color);
	font-size: 17px;
}

/* ===== Projects ==== */
.projects {
    min-height: 100vh;
}

.projects-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.projects-card {
    padding: 20px;
	background-color: var(--black-alt-color);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}

.projects-card img {
    /* width: 360px; */
    height: 240px;
}

.projects-card h2, .projects-card p {
    color: var(--black-color);
}

/* ===== Contact ==== */
.contact {
    height: 100vh;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.contact .col 
{
    width: 50%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 30px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3.2px;
    width: 100%;
}


footer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer p {
    color: var(--black-color);
}